<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Car List</title>
<link rel="stylesheet" th:href="@{/css/application.css}" href="/css/application.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<div th:include=" fragments :: nav"></div>
	<div th:include=" fragments :: search"></div>
	<div class="content">
		<table id="preview">
			<tr>
				<th>ID</th>
				<th>Model</th>
				<th>Typ nadwozia</th>
				<th>Rok produkcji</th>
				<th>Moc [KM]</th>
				<th>Lokalizacja</th>
				<th>&nbsp;</th>
			</tr>
			<tr th:each="car : ${cars}">
				<td th:text="${car.id}">id</td>
				<td th:text="${car.model}">model</td>
				<td th:text="${car.body.type}">body</td>
				<td th:text="${car.model.yearOfProduction}">year</td>
				<td th:text="${car.power}">power</td>
				<td th:text="${car.location.name}">location</td>
				<td>
					<form th:action="@{/cars/details}">
						<input name="id" type="text" th:value="${car.id}" hidden="true" /> <input type="submit" value="Szczegóły >" />
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>