<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
</head>
<body>
	<div th:fragment="nav">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>		
					<a class="navbar-brand" th:href="@{/home}">car-rental</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li id="homeHyperlink"><a th:href="@{/home}">
							<span class="glyphicon glyphicon-home"></span> Strona główna</a>
						</li>
						<li id="carsHyperlink"><a th:href="@{/cars}">
							<span class="glyphicon glyphicon-th-list"></span> Lista samochodów</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="navdetails">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>		
					<a class="navbar-brand" th:href="@{/home}">car-rental</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li id="homeHyperlink"><a th:href="@{/home}">
							<span class="glyphicon glyphicon-home"></span> Strona główna</a>
						</li>
						<li id="carsHyperlink"><a th:href="@{/cars}">
							<span class="glyphicon glyphicon-th-list"></span> Lista samochodów</a>
						</li>
						<li class="active"><a href="#">
							<span class="glyphicon glyphicon-list-alt"></span> Szczegóły</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="search">
		<script th:inline="javascript">
		$(document).ready(function() {
			if([[${manufacturers.size()}]] == 1) {
				$("#manufacturer").prop("selectedIndex", 1);
		    } else {
				$("#clearM").css("visibility", "hidden");
		    }
			if([[${locations.size()}]] == 1) {
				$("#location").prop("selectedIndex", 1);
		    } else {
				$("#clearL").css("visibility", "hidden");
		    }
			
			var form = $("form[name='search']"); 
		
			$("#clearM").click(function() {
				$("#manufacturer").prop("selectedIndex", 0);
				form.submit();
			});
			$("#clearL").click(function() {
				$("#location").prop("selectedIndex", 0);
				form.submit();
			});
		});
		</script>
		<div class="container" style="margin-bottom: 20px;">
			<form class="form-inline">
				<div class="form-group form-group-sm">
					<label for="manufacturer">Producent:</label>
					<select id="manufacturer" name="manufacturer" onchange="this.form.submit()" class="form-control">
						<option label="* (Wszyscy producenci)" value="">* (Wszyscy producenci)</option>
						<option th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.name}" th:value="${manufacturer.name}" />
					</select>
					<button id="clearM" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
				<div class="form-group  form-group-sm">
					<label for="location">Lokalizacja:</label>
					<select id="location" name="location" onchange="this.form.submit()" class="form-control">
						<option label="* (Wszystkie miasta)" value="">* (Wszystkie miasta)</option>
						<option th:each="location : ${locations}" th:text="${location.name}" th:value="${location.name}" />
					</select>
					<button id="clearL" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>