<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
	<title>Success!</title>
	<link rel="stylesheet" th:href="@{/css/application.css}" href="/css/application.css" />
	<!-- bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- bootstrap end -->
<script th:inline="javascript">
	$(document).ready(function() {
		var url = /*[[@{/home}]]*/"#";
		window.setTimeout(function() {
			window.location.replace(url);
		}, 9000);
		window.setInterval(function(clicked) {
			$("#counter").text($("#counter").text() - 1);
		}, 1000);
	});
</script>
</head>
<body>
	<div th:include=" fragments :: nav"></div>
	<div class="container alert alert-success">
		<h1>Sukces!</h1>
		<p>Rezerwacja</p>
		<pre th:text="${booking}"></pre>
		<p>została poprawnie zapisana w bazie danych!</p>
	</div>
	<div class="container alert alert-info">
		<h3>Za <span class="label label-info"><span id="counter">9</span>s</span> nastąpi przekierowanie...</h3>
	</div>
</body>
</html>