/* GLOBAL SETTINGS */
body, p, a, div, table, tr, td, th, span {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12pt;
}
body {
	background-color: black;
}
pre {
	font-size: 9pt;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.content {
	width: 700px;
	margin: 10px auto;
	padding: 0;
}

/* MY SETTINGS #nav */
.whitebg {
	background-color: white;
}
.article {
	padding: 10px;
	margin-top: 20px;
	font-size: 12pt;
}
.article p {
	font-size: 12pt;
	color: black;
}
div#nav .content div {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
}
.content a, .content p, .content span {
	font-size: 16pt;
	text-decoration: none;
	color: deepskyblue;
}
.content p span {
	font-style: italic;
	font-weight: normal;
}
div#nav a:hover {
	border-bottom: 2px solid deepskyblue;
}

/* MY SETTINGS #search */
#search form {
    padding: 5px;
}

#search form div {
    display: inline;
    margin: 5px;
}

#search form div select {
    display: inline;
    margin: 5px;
    overflow: hidden;
}

button, option {
	cursor: pointer;
}

button {
	color: red;
	font-weight: bold;
}

/* MY SETTINGS #preview*/
table#preview {
	width: 100%;
	border-spacing: 0 1px;
}

table#preview tr:nth-child(odd) {
	color: white;
	background-color: deepskyblue;
}
table#preview tr:nth-child(even) {
	background-color: ghostwhite;
}

table#preview tr td form input[type=submit] {
	visibility: hidden;
}
table#preview tr:hover td form input[type=submit] {
	visibility: visible;
}

table#preview tr td,th {
	padding: 10px;
	text-align: left;
}
table#preview tr th {
	border: none;
	background-color: #00a8df;
}

input[type=submit] {
	padding: 2px 7px;
	border: 1px solid #707070;
}
input[type=submit]:hover {
	padding: 2px 7px;
	background-color: #A6FEFF;
	border: 1px solid #26A0DA;
	cursor: pointer;
}
input[type=submit]:active {
	background-color: #A6FEFF;
	border: 1px solid #26A0DA;
	cursor: pointer;
}

/* MY SETTINGS #details*/
#detailDiv {
	overflow: hidden;
	background-color: #00a8df;
}
#detailDiv form {
	float: left;
	padding: 10px;
}

#detailDiv form th, #detailDiv form td {
	font-size: 10pt;
}

#detailDiv span {
	font-weight: bold;
	color: ghostwhite;
}

#detailDiv table#details {
	float: left;
	border-spacing: 0;
	background-color: ghostwhite;
}
#detailDiv table#details th {
	margin: 0;
	text-align: right;
	padding: 5px 10px;
	border-bottom: 1px solid black;
}
#detailDiv table#details td {
	margin: 0;
	padding: 5px 10px;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: black;
}
